@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base{
  body {
    color: var(--foreground);
    background: var(--background);
    font-family:  Arial, Helvetica, Sansita, sans-serif;  /*Sorry but I got sick of Sansita*/
  }
  table, th, td {
    @apply border border-solid border-black;
  }
  th{
    @apply text-center text-slate-800 text-lg bg-slate-400 font-bold py-2;
  }
  td {
    @apply text-center text-slate-700 text-sm py-2;
  }
  @font-face {
    font-family: 'SansitaOne';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sansita-one/SansitaOne.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sansita/Sansita-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Sansita';
    font-style: bold;
    font-weight: 400;
    src: url('/fonts/sansita/Sansita-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/sansita/Sansita-Italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/satisfy/Satisfy-Regular.ttf') format('truetype');
  }
}

@layer utilities{
  .button-orange{
    @apply bg-gradient-to-r from-orange-400 to-orange-500
    hover:from-orange-500 hover:to-orange-600
    hover:-translate-y-1 transform transition-transform
    text-white font-bold py-2 px-4 rounded-3xl shadow-lg
    text-xl;
  }
  .button-green{
    @apply bg-gradient-to-r from-green-400 to-green-500
    hover:from-green-500 hover:to-green-600
    hover:-translate-y-1 transform transition-transform
    text-white font-bold py-2 px-4 rounded-3xl shadow-lg
    text-xl;
  }
  .button-red{
    @apply bg-gradient-to-r from-red-400 to-red-500
    hover:from-red-500 hover:to-red-600
    hover:-translate-y-1 transform transition-transform
    text-white font-bold py-2 px-4 rounded-3xl shadow-lg
    text-xl;
  }
  .button-icon{
    @apply bg-gray-200
    w-10 h-10 mx-1 my-2 p-2
    hover:bg-gray-300
    text-white font-bold rounded-full shadow-lg
    hover:scale-105 transform transition-all
    text-xl flex items-center justify-center;
  }
  .text-primary{
    @apply text-olive-green-300 font-bold font-sansita-one text-2xl;
  }
  .text-secondary{
    @apply text-gray-400 font-bold text-xl;
  }
  .tab-item {
    @apply w-full flex justify-items-start pl-5 text-slate-800 transition-all hover:text-slate-700 hover:underline pt-2 pb-3;
  }
  .tab-item-active {
    @apply w-full flex justify-items-start pl-5 text-olive-green-400 hover:text-olive-green-300 hover:underline bg-slate-200 border-solid   pt-2 pb-3;
  }
  .tab-link {
    @apply flex flex-row items-center;
  }
  .tab-icon {
    @apply w-8 h-8 mr-2 fill-slate-50;
  }
  .input-field {
    @apply w-full bg-gray-200 p-2 rounded-md mb-4;
  }
  .button-dark-gray {
    @apply bg-gradient-to-b from-gray-500 to-zinc-600
    hover:from-zinc-600 hover:to-zinc-700
     text-white font-bold py-2 px-4 rounded-lg shadow-lg;
  }
  .button-outline-light {
    @apply bg-transparent text-gray-500 font-bold py-2 px-4 rounded-lg border border-solid border-gray-500
    hover:bg-gray-500 hover:text-white transition-all;
  }
  .button-outline-primary{
    @apply bg-transparent text-olive-green-400 font-bold py-2 px-4 rounded-lg border border-solid border-olive-green-400
    hover:bg-olive-green-400 hover:text-white transition-all;
  }

  .button-primary {
    @apply px-4 py-2 bg-teal-600 text-white font-semibold rounded-lg shadow-md hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 transition duration-150 ease-in-out;
  }

  .table-auto {
    @apply border-collapse border border-solid border-gray-200;
  }
  .table-auto th,
  .table-auto td {
    @apply  border border-gray-200;
  }
  .table-auto th {
    @apply bg-gray-200 text-left text-slate-800 font-bold py-2 px-4;
  }
  .table-auto tr:hover {
    @apply bg-gray-100;
  }
  
  .input-field.input-field-disabled {
    @apply bg-slate-400 text-slate-800;
  }
}