# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.pid.lock

# Compiled source files
dist/
build/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Cloudinary cache (specific to Node.js project using Cloudinary)
cloudinary_cache/
